<div style="height:100%; padding:10px; background-color:white;">
    <div class="EventSettingList">
        <div class="EventSettingColumnName">欄位名稱：</div>
        <input class="EventSettingInput" type="text" [(ngModel)]="CheckGroup.AttritubeName" />
    </div>
    <div class="EventSettingList">
        <div class="EventSettingColumnName">屬性型態：</div>
        <input class="EventSettingInput" type="text" [(ngModel)]="CheckGroup.AttritubeType" />
    </div>
    <div class="EventSettingList">
        <div class="EventSettingColumnName">屬性名稱：</div>
        <input class="EventSettingInput" type="text" [(ngModel)]="CheckGroup.Caption" />
    </div>
    <div class="EventSettingList">
        <div class="EventSettingColumnName">屬性排序：</div>
        <input class="EventSettingInput" type="text" [(ngModel)]="CheckGroup.Sequence" />
    </div>
    <div class="EventSettingList">
        <div class="EventSettingColumnName">比對運算子：</div>
        <input class="EventSettingInput" type="text" [(ngModel)]="CheckGroup.CheckOperator" />
    </div>
    <div class="EventSettingList">
        <div class="EventSettingColumnName">屬性類別：</div>
        <input class="EventSettingInput" type="text" [(ngModel)]="CheckGroup.CheckType" />
    </div>
    <div class="EventSettingList">
        <div class="EventSettingColumnName">屬性值：</div>
        <input class="EventSettingInput" type="text" [(ngModel)]="CheckGroup.CheckValue" />
    </div>

    <button class="OKbtn">OK</button>
    <button class="OKbtn" style="background-color:blue;">OK</button>
</div>