<div style="padding:10px;">
    <div>
        <div class="CheckSettingColumnName">定義名稱</div>
        <input style="text" />
    </div>
    <div>
        <div class="CheckSettingColumnName">定義說明</div>
        <input style="text" />
    </div>
    <div>
        <div class="CheckSettingColumnName">交易觸發對象</div>
        <input style="text" />
    </div>
    <div>
        <div class="CheckSettingColumnName">檢查觸發點</div>
        <input style="text" />
    </div>
    <div>
        <div class="CheckSettingColumnName">顯示引用的Task</div>
        <input style="text" />
    </div>

    <button>OK</button>
</div>