<div style="padding:10px; height:100%;">
    <div class="EventSettingList">
        <div class="EventSettingColumnName">定義名稱</div>
        <input class="EventSettingInput" style="text" [(ngModel)]="NowSettingEvent.EventName" />
    </div>
    <div class="EventSettingList">
        <div class="EventSettingColumnName">定義說明</div>
        <input class="EventSettingInput" style="text" />
    </div>
    <div class="EventSettingList">
        <div class="EventSettingColumnName">交易觸發對象</div>
        <input class="EventSettingInput" style="text" />
    </div>
    <div class="EventSettingList">
        <div class="EventSettingColumnName">檢查觸發點</div>
        <input class="EventSettingInput" style="text" />
    </div>
    <div class="EventSettingList">
        <div class="EventSettingColumnName">顯示引用的Task</div>
        <input class="EventSettingInput" style="text" />
    </div>

    <button>OK</button>
</div>