<div style="width:100%; height:100%; background-color:skyblue; padding:15px;">
    <InkButton class="Btn" [Text]="'動作設定'" (OnClick)="OnSelectPage('Act')" ></InkButton>
    <InkButton class="Btn" [Text]="'事件設定'" (OnClick)="OnSelectPage('Evt')" ></InkButton>
    <InkButton class="Btn" [Text]="'任務設定'" (OnClick)="OnSelectPage('Tsk')" ></InkButton>
    <InkButton class="Btn" [Text]="'系統事件設定'" (OnClick)="OnSelectPage('Sys')" ></InkButton>
    <InkButton class="Btn" [Text]="'Wip設定'" (OnClick)="OnSelectPage('Wip')" ></InkButton>
    <InkButton class="Btn" [Text]="'狀態/歷史'" (OnClick)="OnSelectPage('His')" ></InkButton>
</div>