<div style="width: 20%; height:100%; background-color:LightSeaGreen; float:left;">
    <div style="height:50%">
        <div *ngFor="#r of RuleList">
            <div>{{r.RuleName}}</div>
            <div *ngFor="#t of r.TaskList">
                <div>{{t.TaskName}}
                    <div *ngFor="#e of t.EventList">
                        <div>{{e.EventDescription}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:50%">
        
    </div>
</div>

<div style="width: 80%; height:100%; background-color:LightSeaGreen; float:left;">
    This is Wip Event Page.
</div>