
<div style="width:20%; height:100%; float:left; background-color:orange;">
    <ActionNavigation 
    [(ActionDataList)]="ActionDataList"
    (OnSelected)="GetSelected($event)">
    </ActionNavigation>
</div>

<div style="width:80%; height:100%; float:left; background-color:lightgreen;">
    <!--{{NowSelectedItem}}-->
    <LineSetting *ngIf="NowSelectedItem === 'Line'"></LineSetting>
    <WeChatSetting *ngIf="NowSelectedItem === 'WeChat'"></WeChatSetting>
    <EMailSetting *ngIf="NowSelectedItem === 'Email'"></EMailSetting>
    <ActionSetting *ngIf="NowSelectedItem === 'Setting'"></ActionSetting>
    
</div>