<div class="ContentSetting">
    <div>Line Setting:</div>
    <div class="ActionForm">
        <div class="ActionFormList">
            <div class="ActionFormDesc">Channel ID</div>
            <input class="ActionFormInput" type="text" />
        </div>
        <div class="ActionFormList">
            <div class="ActionFormDesc">Channel Secret</div>
            <input class="ActionFormInput" type="text" />
        </div>
        <div class="ActionFormList">
            <div class="ActionFormDesc">MID</div>
            <input class="ActionFormInput" type="text" />
        </div>
    </div>
</div>
