<div class="ContentSetting">
    <div>WeChat Setting:</div>
    <div class="ActionForm">
        <div class="ActionFormList">
            <div class="ActionFormDesc">企業名稱</div>
            <input class="ActionFormInput" />
        </div>
        <div class="ActionFormList">
            <div class="ActionSubForm">
                <div class="ActionFormDescWithSub">帳號訊息</div>
                <div style="float:left; width:600px;">
                    <div class="ActionFormSubDesc">主體類型</div>
                    <input class="ActionFormSubInput" />
                    <div class="ActionFormSubDesc">CorpID</div>
                    <input class="ActionFormSubInput" />
                </div>
            </div>
        </div>
    </div>
</div>