<div style="width: 25%; height:100%; background-color:LightSalmon; float:left;">
    <div style="width:100%; height:50%; background-color:lightgreen;">
        <TaskEventList [TaskList]="TaskList" (OnSelectCheckGroup)="GetSelectedCheckGroup($event)"></TaskEventList>
    </div>
    <div style="width:100%; height:50%; background-color:lightblue;">
        <TaskCheckList [TaskCheckList]="CheckGroupOnSelect" (SelectedCheck)="GetSelectCheck($event)"></TaskCheckList>
    </div>
</div>
<div style="width: 75%; height:100%; background-color:LightSalmon; float:left;">
    This is Task Main Page.
    <div>{{SelectedCheckName}}</div>
</div>