<div class="TaskEventMenu">
    <button style="width:30px; padding-left:0px; "><img src="svg/add.svg" width="25px" height="25px" /></button>
</div>
<div class="TaskEventNavContent">
    <div *ngFor="#t of TaskList">
        <div class="TaskNav" (click)="ChangeDisplay(t)">{{t.Description}}</div>
        <div class="TaskEventNav" *ngFor="#e of t.EventList" [hidden]="!t.Display" (click)="SelectedEvent(e)">
            {{e.EventDescription}}
        </div>
        <div class="TaskEventNav" [hidden]="!t.Display"  *ngIf="t.EventList.length === 0">尚無Event</div>
    </div>
</div>